mixin button(className, btnText)
    button(class="btn btn__" + className)= btnText

mixin item(icon, title, desc)
    li.advantage__item
        //- svg.advantage__icon= icon
        .advantage-icon__wrapper
            i(class="advantage__icon advantage__icon--" + icon)        
        h4.advantage__title= title
        p.advantage__description= desc
