html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font: 18px/29px 'FivoSans';
    color: $main--color;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p{
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    color: $link--color;
    transition: all .2s ease;


    &:hover {
        text-decoration: underline;
    }

    &:active{
        font-weight: 700;
    }
    
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1423px;
    margin: 0 auto;
    @media all and (max-width: 1440px) {
        width: 1140px;
    }
    @media all and (max-width: 1200px) {
        width: 960px;
    }
    @media all and (max-width: 992px) {
        width: 720px;
    }
    @media all and (max-width: 768px) {
        width: 95%;
    }
    @media all and (max-width: 480px) {
        width: auto;
        padding: 5%;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1578px;
    position: relative;
    overflow: hidden;
    background: url('../../images/bg/bg-btm.png') 50% 50% no-repeat;
}