@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSansModern-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSans-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSans-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans';
    src: url('../../fonts/FivoSans-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FivoSansModern';
    src: url('../../fonts/FivoSansModern-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@mixin fivosans() {
    font-family: 'FivoSans';
}


@mixin fivosansmodernbold() {
    font-family: 'FivoSansModernBold';
}