// variables

$red: #ff6a6d;
$red-darken: #f36164;
$title--color: #3b3838;
$main--color: #000000;
$link--color: #3cbef1;
$button-text--color: #ffffff;
$menu-item--color: #1c2056;
$footer--color: #2e2e2e;

// imports
@import "normalize";
@import "settings/mixins";

@import "layout/base";
@import "layout/fonts";

@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/button"; 
@import "blocks/section"; 
@import "blocks/hero"; 
@import "blocks/advantages"; 
@import "blocks/about"; 
@import "blocks/programs"; 
@import "blocks/tarif"; 
@import "blocks/footer"; 

