include ../mixins

ul.advantages__list
    +item('update', 'Lifetime Updates', 'Free lifetime updates for our lates collection.')
    +item('video', 'Anywhere Videos', 'Access world-class online yoga videos can be seen on the application & web')
    +item('unlimit', 'Access Unlimited', 'Find lots of yoga video tutorials, from all over the world')

//- svg
//-     use(xlink:href="./images/svg/a-01.svg#icon1")