- var phoneList = ['0812 6824 2856 (Main)', '(072) 2673842  (Toll-free)']
- var aboutList = ['Our mission', 'Our team', 'Management', 'Policies']
- var programList = ['Yoga class', 'Bikram  yoga', 'Acro yoga', 'Sveda yoga', 'Yo mama']
- var supportList = ['Donate', 'Individual membership', 'Gift membership', 'Hiker store']
- var email = 'beryoga@yuk.com'


footer.footer
    .container
        .footer__wrapper
            ul.footer__columns
                li.footer__column.contacts
                    h4.footer-column__title
                        | Contact us
                    .contacts__address
                        | Beryoga, Jl. Sudirman no. 129, Tebet Jakarta Selatan
                    ul.contacts__list
                        li.contact__item
                            a(href="mailto:" + email).footer-column-list-item__link=email
                        each item in phoneList
                            li.contact__item
                                a(href="tel:" + item).footer-column-list-item__link=item
                        
                li.footer__column
                    h4.footer-column__title
                        | About us
                    ul.footer-column__list
                        each item in aboutList
                            li.footer-column-list__item
                                a(href="#" class="footer-column-list-item__link")= item
                li.footer__column
                    h4.footer-column__title
                        | Our programs
                    ul.footer-column__list
                        each item in programList
                            li.footer-column-list__item
                                a(href="#" class="footer-column-list-item__link")= item
                li.footer__column
                    h4.footer-column__title
                        | Support trails
                    ul.footer-column__list
                        each item in supportList
                            li.footer-column-list__item
                                a(href="#" class="footer-column-list-item__link")= item
            .footer__copyright
                | Copyright © 2019 BerYoga All rights reserved.