include ../mixins

header.header
    .container.header__container
        a.logo__link(href="#")
            |BerYoga
        nav.nav
            include navMenu
            +button('header', 'Login')
            