ul.menu__list
    li.menu__item.active
        a.menu-item__link(href="#") Home
    each item in ['About us', 'Contact us', 'Pricing']
        li.menu__item
            a.menu-item__link(href="#")= item
    