- 
    var programList = [
        { 
            "title": "New Classes Every Week", 
            "desc": "Discover hundreds of classes in our library. Save your favorites, try new styles and customize your routine to fit your schedule." 
        }, 
        { 
            "title": "Series", 
            "desc": "Our multi-class series are designed to help you achieve your fitness and wellness goals." 
        }, 
        { 
            "title": "Pose Directory", 
            "desc": "Get step-by-step instructions on poses and sequences in our extensive video pose directory." 
        }
    ];

ul.program__list
    each item in programList
        li.program__item
            svg.program__icon
            .program__content
                h4.program__title= item.title
                p.program__description= item.desc