- var btnText = 'Become a member'

ul.tarif__list
    li.tarif__item.tarif__item--simple
        ul.tarif__options
            li.tarif__option
                i.tarif__icon
                span.tarif__text Unlimitied Access Video
            li.tarif__option
                i.tarif__icon
                span.tarif__text Saved Videos
            li.tarif__option
                i.tarif__icon
                span.tarif__text  Offline Access
        
        .tarif__price 
            span.tarif-price__currency $ 
            span.tarif-price__amount 15
            span.tarif-price__period /Mo
        .tarif-price__desc Billed monthly
        +button('tarifs btn__tarifs--blue', btnText)
    
    li.tarif__item.tarif__item--best
        .tarif__title.tarif__title--red
            | Best seller
        ul.tarif__options
            li.tarif__option
                i.tarif__icon
                span.tarif__text Unlimitied Access Video
            li.tarif__option
                i.tarif__icon
                span.tarif__text Saved Videos
            li.tarif__option
                i.tarif__icon
                span.tarif__text Offline Access
        .tarif__price 
            span.tarif-price__currency $ 
            span.tarif-price__amount 150
            span.tarif-price__period /Year
        .tarif-price__desc Billed a one year - Save 45%
        +button('tarifs', btnText)
    
    li.tarif__item.tarif__item--with_title
        .tarif__title
            | Yoga class
        ul.tarif__options
            li.tarif__option
                i.tarif__icon
                span.tarif__text Only Yoga class
            li.tarif__option
                i.tarif__icon
                span.tarif__text Unlimitied Access Video
        .tarif__price
            span.tarif-price__currency $ 
            span.tarif-price__amount 5
            span.tarif-price__period /Mo
        .tarif-price__desc Billed monthly
        +button('tarifs btn__tarifs--blue', btnText)