doctype
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1.0" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="css/main.css")
        title
            block title
    body
        block content