extends ../layout

block title
    | Главная страница

block content
    .wrapper
        .hero
            include ../../components/header
            .container
                .hero__container
                    h2.section__title
                        | Beautiful videos. Become your best self with BerYoGa.
                    .section__description
                        | For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy.
                        |Now I decided to open BerYoga so that I can share my love and joy of bikram yoga.  It is my hope that you too can discover all the positive impacts of bikram yoga and make bikram yoga as a part of your life.

                    .section__buttons
                        +button('hero', 'Service')
                        +button('hero btn__hero--border', 'Sign Up')
        
        section.section.advantages
            .container
                h2.section__title
                    | Why Choose BerYoga?
                .section__description
                    | Access hundreds of online yoga classes shot in natural studios around the world. Unlimited access for $150/Years.
                include ../../components/advantages
        section.section.about
            .container
                section.subsection.programs
                    .subsection__image
                    //- img(src="images/girl-01.png").subsection__image
                    .subsection__content
                        h2.section__title
                            | What’s on BerYoga?
                        include ../../components/programs
                section.subsection.healing
                    .subsection__image
                        //- img(src="images/girl-02.png").subsection__image
                    .subsection__content
                        h6.section__subtitle By Brittany Risherjan _____
                        h2.section__title
                            | The Healing Power of Trauma-Informed Yoga Classes.
                        .section__description
                            p.program__description
                                | Celebrating five years of service, the nonprofit Exhale to Inhale brings free, trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.
                            a(href="#").section__link
                                | Read more 
                section.subsection.ways
                    .subsection__image
                        //- img(src="images/girl-03.png").subsection__image
                    .subsection__content
                        h2.section__title
                            | 5 Ways to Make Every Yoga Class More Restorative and Therapeutic
                        .section__description 
                            p.program__description
                                | In part four of our series on teaching trauma-sensitive yoga, teacher Daniel Sernicola shares five practices to help your students get grounded and cultivate mindfulness.  
                            p.program__description 
                                |  Teachers, need liability insurance? As a TeachersPlus member, you can access low-cost coverage and more than a dozen valuable benefits that will build your skills and business. Enjoy a free subscription to YJ, a free profile on our national directory, exclusive webinars and content packed with advice, discounts on educational resources and gear, and more
                            a(href="#").section__link
                                | Read more 
        section.section.bottom
            section.subsection.tarifs
                .container
                    include ../../components/tarifs
            include ../../components/footer
