.advantages{
    padding-bottom: 130px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__description {
        max-width: 660px;
        text-align: center;
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}


.advantage {
    &__item {
        text-align: center;
    }
    &-icon__wrapper{
        display: inline-flex;
        align-items: flex-end;
        height: 219px;
        margin-bottom: 90px;
    }
    &__icon {
        width: 207px;
        height: 219px;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        &--update {
            background-image: url('../../images/update.png');
        }
        
        &--video {
            width: 209px;
            background-image: url('../../images/video.png');
        }
        &--unlimit {
            width: 208px;
            height: 202px;
            background-image: url('../../images/unlimit.png');
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $title--color;
        line-height: 60.39px;
    }
    &__description {
        max-width: 264px;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        
    }
}