.btn {
    border-radius: 35px;
    background-color: $red;
    box-shadow: 0px 8px 48.6px 5.4px rgba(255, 0, 5, 0.19);
    font-size: 20px;
    color: $button-text--color;
    border: 0;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;

    &:hover {
        background-color: $red-darken;
    }

    &__header{
        width: 140px;
        height: 42px;
        font-size: 18px;
        border-radius: 21px;
    }
    &__hero {
        width: 240px;
        height: 80px;
        box-shadow: 0px 22px 23.52px 0.48px rgba(226, 88, 91, 0.45);
        margin-right: 20px;

        &--border {
            background-color: transparent;
            border: 2px solid $red;
            box-shadow: none;
            color: $red;
            &:hover {
                background-color: transparent;
                text-decoration: underline;                
            }
        }
    }
    &__tarifs {
        border-radius: 38px;
        width: 227px;
        height: 77px;
        font-size: 18px;
        font-weight: 600;
        box-shadow: 0px 21px 23.52px 0.48px rgba(226, 88, 91, 0.29);
        align-self: center;

        &--blue {
            background-color: $link--color;
            box-shadow: 0px 21px 23.52px 0.48px rgba(95, 206, 244, 0.29);
            &:hover {
                background-color: darken($link--color, 10%);
            }
        }

       
    }
}


  