.footer{
    color: $footer--color;

    &__wrapper{
        padding: 110px 168px 50px;
        border-radius: 155px 155px 0 0;
        background-color: rgba(255, 255, 255, .502);
        @media all and (max-width: 1440px) {
            padding: 90px 50px 50px;
            border-radius: 100px 100px 0 0;
        }
    }
      
    &__columns{
        width: 1090px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 auto;
        @media all and (max-width: 1440px) {
            width: 860px;
        }
    }
    &__column{
        width: 25%;
        padding-left: 50px;
        font-size: 16px;
        line-height: 36px;
        @media all and (max-width: 1440px) {
            // padding-left: 0;
        }
        &.contacts {
            line-height: 30px;
        }
    }
    &-column{
        &__title{
            font-family: 'FivoSansModern';
            text-transform: uppercase;
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 40px;
        }
        &-list{
            &__item{
                font-size: 16px;
            }
            &-item__link {
                font-size: 16px;
                line-height: 36px;
                color: $footer--color;
            }
        }
    }
    &__copyright {
        margin-top: 100px;
        text-align: center;
    }
}

.contacts__address {
    max-width: 165px;
    margin-bottom: 35px;
}

