.header{ 
    padding: 82px 0;
    @media all and (max-width: 1440px) {
        padding: 50px 0;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
}