.hero{
    background-image: url('../../images/bg/bg-hdr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 1334px;
    @media all and (max-width: 1920px) {
        background-position: 60% 0;
    }
    @media all and (max-width: 1440px) {
        background-position: 50% 50%;
    }
    &__container{
        max-width: 540px;
        margin-left: 120px;
        margin-top: 90px;
        @media all and (max-width: 1440px) {
            margin-left: 60px;
            margin-top: 45px;
        }
    }
}