.menu {
    &__list {
        display: flex;
        width: 475px;
        justify-content: space-between;
        margin-right: 125px;
    }
    &__item {
        &.active {
            .menu-item__link {
                font-weight: 700;
                color: $red;
            }
        }
    }

    &-item__link {
        font-size: 18px;
        color: $menu-item--color;
        text-transform: capitalize;
        transition: all .2s ease;

        &:hover {
            color: $red;
            text-decoration: underline;
        }
    }

}

