$width: 701px;
$height: 655px;

.programs {
    .subsection{
        &__image{
            background-image: url('../images/girl-01.png');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            width: $width;
            height: $height;
            @media all and (max-width: 1440px) {
                background-image: url('../../images/girl-01@0\,75x.png');
                width: 0.75*$width;
                height: 0.75*$height;
            }
            @media all and (max-width: 1200px) {
                background-image: url('../../images/girl-01@0\,5x.png');
                width: 0.5*$width;
                height: 0.5*$height;
                margin-top: 60px;
            }
        }
    }
}

.program{
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        display: flex;
        margin-left: 20px;
        margin-bottom: 45px;
        @media all and (max-width: 1200px) {
            margin-left: 15px;
            margin-bottom: 25px;
            align-items: baseline;
        }
        @media all and (max-width: 992px) {
            margin-left: 0;
        }
    }
    &__icon{
        background: url('../images/svg/check-icon.svg') 50% 50% no-repeat;
        width: 31px;
        height: 24px;
        background-size: cover;
        @media all and (max-width: 1200px) {
            width: 24px;
            height: 18px;
        }
    }
    &__content {
        margin-left: 20px;
        max-width: 479px;
        @media all and (max-width: 1200px) {
            margin-left: 15px;
            max-width: 510px;
        }
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        @media all and (max-width: 1200px) {
           font-size: 22px;
        }
    }
    &__description{
        font-size: 18px;
        font-weight: 300;
        line-height: 40px;
        @media all and (max-width: 1200px) {
            line-height: 30px;
         }
    }
}