$width: 661px;
$height: 640px;
$width3: 629px;
$height3: 735px;

.section{
    &__title{
        font-size: 50px;
        font-weight: 700;
        line-height: 60.39px;
        color: $title--color;
        margin-bottom: 40px;
        @media all and (max-width: 1440px) {
            font-size: 46px;
            line-height: 56.39px;
            margin-bottom: 30px;
        }
        @media all and (max-width: 1200px) {
            font-size: 42px;
            line-height: 52.39px;
            margin-bottom: 25px;
        }
        @media all and (max-width: 992px) {
            font-size: 40px;
            line-height: 50.39px;
        }
    }

    &__description {
        font-size: 18px;
        font-weight: 300;
        line-height: 40px;
        color: $main--color;
        margin-bottom: 55px;
        @media all and (max-width: 1440px) {
            line-height: 52.39px;
            margin-bottom: 25px;
        }
    }
    &__link {
        font-style: italic;
        color: $link--color;
    }
}

.subsection {
    display: flex;
    @media all and (max-width: 1200px) {
        justify-content: space-between;
        margin-bottom: 50px;
    }
    @media all and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
    }
}

.healing {
    flex-direction: row-reverse;
    .subsection{
        &__image{
            background: url('../images/girl-02.png') 50% 50% no-repeat;
            background-size: cover;
            width: $width;
            height: $height;
            @media all and (max-width: 1440px) {
                background-image: url('../../images/girl-02@0\,75x.png');
                width: 0.75*$width;
                height: 0.75*$height;
            }
            @media all and (max-width: 1200px) {
                background-image: url('../../images/girl-02@0\,5x.png');
                width: 0.5*$width;
                height: 0.5*$height;
            }
        }
        &__content{
            width: 740px;
            padding-left: 60px;
            padding-right: 132px;
            @media all and (max-width: 1200px) {
                width: 550px;
                padding-left: 30px;
                padding-right: 0;
            }
        }
    }
    .section__description{
        padding-left: 50px;
        padding-right: 105px;
        @media all and (max-width: 1200px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.ways {
    .subsection{
        &__image{
            background: url('../images/girl-03.png') 50% 50% no-repeat;
            background-size: cover;
            width: $width3;
            height: $height3;
            @media all and (max-width: 1440px) {
                background-image: url('../../images/girl-03@0\,75x.png');
                width: 0.75*$width3;
                height: 0.75*$height3;
            }
            @media all and (max-width: 1200px) {
                background-image: url('../../images/girl-03@0\,5x.png');
                width: 0.5*$width3;
                height: 0.5*$height3;
            }
        }
        &__content{
            max-width: 666px;
            @media all and (max-width: 1200px) {
                max-width: 585px;
            }
        }
    }
    .section__description{
        width: 555px;
        margin-left: 105px;
        @media all and (max-width: 1200px) {
            width: 100%;
            margin-left: 0;
        }
    }
}