.tarif{
    &__list{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 15px;
        height: 770px;
    }
    &__item {
        width: 502px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 42px 35px 0px rgba(255, 106, 109, 0.15);
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 55px;
        
        &--best{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 37px 136px 0px rgba(255, 106, 109, 0.19);
            z-index: 10;
            margin-top: 0;
            margin-bottom: 0;

            .tarif__options {
                margin-top: 50px;
            }
        }
        &--with_title {
            .tarif__options {
                margin-top: 55px;
                margin-bottom: 115px;
            }
        }
    }
    &__title{
        width: 100%;
        margin-top: 75px;
        color: #494949;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        &--red{
            background: $red;
            color: #fff;
            text-transform: uppercase;
            padding: 45px 0 40px;
            margin-top: 0;
        }
    }

    &__options{
        margin-top: 72px;
        margin-bottom: 130px;
        padding: 0 55px;
        
    }
    &__option {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        
    }

    &__icon {
        width: 38px;
        height: 38px;
        display: inline-block;
        background: url('../../images/svg/check-round.svg') 50% 50% no-repeat;
        background-size: cover;
        margin-right: 33px;
    }
    &__text {
        display: inline-block;
        
    }
    &__price {
        display: flex;
        justify-content: center;
        line-height: 29.13px;
    }
    &-price {
        &__amount {
            font-size: 150px;
            color: $title--color;
        }
        &__currency{
            font-size: 48px;
            display: inline-flex;
            margin-top: -55px;
        }
        &__desc{
            font-size: 18px;
            font-style: italic;
            margin-top: 35px;
            margin-bottom: 60px;
            text-align: center;
        }
        &__period {
            font-size: 30px;
            margin-top: 30px;
        }
    }
}